* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: orange;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav__list {
  list-style-type: none;
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
}

.nav__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem;
}

ul {
  list-style-type: none;
}

li {
  list-style: square;
  list-style-position: outside;
  padding-left: 10rem;
  display: inline;
  width: 25%;
  position: relative;
  font-size: 14px;
}


.grid-item {
  font-size: 2rem;
  padding: 50px 20px 20px 20px;
  background-color: rgb(255, 165, 0);
  color: rgb(0, 128, 0);
  border: 1px solid white;
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: green;
}

h1 {
    text-align: center;
    font-size: 50px;
  }
  
  p {
    text-align: center;
  }

  section {
    text-align: center;
  }

footer {
  background-color: orange;
}

